{% extends "base.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="front-top">
    <br>
    <div class="container shadow-lg p-3 mb-5 bg-body-tertiary rounded">
        <div class="container text-center">
            <h1>About Vidly</h1>
        </div>

        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi vero cupiditate soluta. Totam at
                temporibus adipisci dolore, accusantium officiis placeat a iusto veritatis vero in error praesentium
                doloremque. Nisi, dolore!</span><span>Libero, amet blanditiis. Esse amet, sed earum nobis dolores, iure
                nesciunt tempora quidem eligendi, necessitatibus tempore animi harum! Sequi aliquam in doloribus odio
                eius
                dignissimos explicabo! Quis provident dolores eligendi.</span><span>Veniam vel optio repellendus, iure
                dolores officiis! Magni accusamus ipsa praesentium dicta doloribus labore eos repellendus, eaque
                similique
                molestias, tempore fugit ducimus? Exercitationem praesentium quasi voluptatem tempore minima! Eligendi,
                magni?</span><span>Commodi hic incidunt eaque, mollitia, consequatur eveniet maxime eius dolorum enim
                labore
                provident dolore quis voluptas ullam sed ratione sit reprehenderit architecto. Harum vel cum nisi
                repellendus tempore doloribus dignissimos!</span><span>Fugiat delectus facilis voluptate! At similique
                recusandae, vero ut omnis nam! Suscipit quidem cumque corrupti placeat itaque praesentium debitis
                quisquam,
                porro repellat maiores. Sunt excepturi beatae accusantium error et labore?</span><span>Ratione esse
                quisquam
                quam vitae exercitationem ex alias qui deserunt expedita commodi? Placeat voluptate corporis accusamus
                unde,
                voluptas nesciunt reiciendis vel a vero beatae, deserunt, cumque optio! Dolor, ex ratione.</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam culpa, id vitae error, ut obcaecati delectus
            quos
            ipsa exercitationem accusamus inventore quas laboriosam amet. Nobis odio ab facilis beatae ex.
            Unde illum quae maxime voluptatem. Facilis sequi consequatur aliquid dolorem quisquam modi animi molestiae
            explicabo dolor, cum at id labore molestias quasi vitae veniam velit pariatur adipisci corrupti. Culpa,
            sunt.
            Incidunt dolores sit sapiente accusantium tempore quasi doloremque soluta, quas expedita earum ab
            necessitatibus
            exercitationem quis voluptatum alias architecto! Odio harum aperiam veniam minima nemo! Sed, harum
            quibusdam.
            Quae, laboriosam.
            Vel obcaecati iusto ipsa quam quaerat omnis vero maxime inventore architecto esse, sed fugiat officia
            maiores.
            Quos laudantium natus, perferendis tempora necessitatibus, atque minus, doloremque sint odit eius nesciunt
            iusto.
            Eos illum doloremque harum porro accusamus adipisci quasi atque tempore impedit. Corrupti inventore
            excepturi
            consequatur commodi mollitia quasi alias voluptate tempore quas tenetur animi eveniet, quisquam, numquam
            nobis
            necessitatibus dolor.
            Dolorem totam, quas quos at perspiciatis porro impedit quo est dignissimos delectus, quam iste inventore
            facere
            earum voluptate id? Deserunt obcaecati optio repellat sint numquam quo, ipsum voluptatum aut esse.
            Quasi accusantium repudiandae, distinctio quia nihil ratione excepturi voluptates soluta, repellendus rem
            officia maxime nemo neque? Provident delectus repellat, officia optio ratione autem magnam quae asperiores?
            Repellendus ducimus soluta illo.
        </p>
    </div>
</div>
{% endblock %}